body {
    background-color: #212121;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

img[alt="Logo Expat Compass"] {
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Style the text under the logo */
body > p {
    margin-top: 210px; /* Adjust as needed based on logo size */
    margin-left: 10px; /* Align with the left of the logo */
    text-align: left; /* Ensure left alignment */
}
